@media (width >= 1025px) {

  section.hero {
    max-width: 80rem;       
    padding-inline: 2rem;   
    overflow: visible;      
  }

  section.hero > div:nth-child(2) img[src*="elipse"],
  section.hero > div:nth-child(2) img[src*="patins"],
  section.hero > div:nth-child(2) img[src*="stars-1"],
  section.hero > div:nth-child(2) img[src*="stars-2"] {
    transform: translateX(100vw);
  }
}

@media (width <= 1024px) {
  section.hero {
    
    & .buttons {
      margin-top: 3.5rem;

      & .button {
        &.buy {
          width: auto; 
          white-space: nowrap;
          overflow: visible;
        }

        &.play {
          width: auto;
          white-space: nowrap;
          overflow: visible;
        }
      }
    }
  }
}

@media (width <= 768px) {
  section.gallery {
    & .content {
      grid-template-areas:
        "A B"
        "C D";
      gap: 1.5rem;
    }
  }

  section.hero {
    flex-direction: column-reverse;

    & .cta {
      margin-left: 2.5rem;
    }

    & > div:nth-child(2) {
      & img[src*="stars-2"] {
        transform: translateX(450%);
      }
    }
  }
}

@media (width <= 425px) {
  @keyframes slideUp {
    0%, 22% {
      transform: translateY(0);
    }

    23% {
      transform: translateY(calc(-2.5rem - 7.5px));
    }

    25% {
      transform: translateY(calc(-2.5rem + 5px));
    }

    27% {
      transform: translateY(calc(-2.5rem - 2.5px));
    }

    29% {
      transform: translateY(calc(-2.5rem + 2.5px));
    }

    33%, 55% {
      transform: translateY(-2.5rem);
    }

    56% {
      transform: translateY(calc(-5rem - 7.5px));
    }

    58% {
      transform: translateY(calc(-5rem + 5px));
    }

    60% {
      transform: translateY(calc(-5rem - 2.5px));
    }

    62% {
      transform: translateY(calc(-5rem + 2.5px));
    }

    66%, 88% {
      transform: translateY(-5rem);
    }

    89% {
      transform: translateY(calc(-7.5rem - 7.5px));
    }

    91% {
      transform: translateY(calc(-7.5rem + 5px));
    }

    93% {
      transform: translateY(calc(-7.5rem - 2.5px));
    }

    95% {
      transform: translateY(calc(-7.5rem + 2.5px));
    }

    100% {
      transform: translateY(-7.5rem);
    }
  }

  nav.header-nav {
    min-width: 16rem;
    padding: 1.25rem 1.5rem;
  }

  section.hero {
    flex-direction: column-reverse;
    padding: 1rem 1.5rem;
    justify-content: none;
    gap: 2rem;

    & .cta{
      margin-left: 3,125rem;
    }

    & > div:nth-child(2) {
      min-width: 19.5rem;
      height: 21.875rem;

      & img[src*="patins"] {
        width: 96%;
      }

      & img[src*="elipse"] {
        top: 3%;
        left: 3%;
        transform: translateX(200%);
        animation: slideIn 3s 200ms ease forwards;
      }

      & img[src*="stars-1"] {
        top: 30%;
        z-index: 0;
        max-width: 4rem;
      }

      & img[src*="stars-2"] {
        max-width: 3.0rem;
        right: 0;
        bottom: 35%;
      }
    }

    & h1 {
      font-size: 2rem;
      width: 97%;
      gap: 0.25rem;
      flex-wrap: wrap;
    }

    & h1 div {
      display: inline-block;
      height: 2.5rem;
      vertical-align: bottom;
      width: auto;
    }

    & .buttons {
      flex-direction: column-reverse;
      gap: 1.5rem;
      margin-top: 2.625rem;

      & .button {
        &.buy {
          width: fit-content;
        }
      }
    }
  }

  section.gallery {
    padding: 1.5rem;

    & .content {
      margin-top: 2rem;
      display: grid;
      grid-template-areas:
        "A"
        "B"
        "C"
        "D";
      gap: 1.5rem;
    }

    & header span {
      font: 500 0.75rem / 1.5 var(--ff-base);
    }

    & header h2 {
      font-size: 1.5rem;
    }
  }

  footer {
    padding: 3rem 1.5rem 1.5rem;
    flex-direction: column;
    align-items: start;

    & nav {
      display: flex;
      gap: 1.5rem;
      flex-direction: column;
      margin-block: 3rem;
    }

    & .social-links {
      gap: 1rem;

      & a {
        width: 1.5rem;
        height: 1.5rem;

        &:hover::before {
          scale: 1.5;
        }
      }
    }
  }
}

@media (width <= 375px) {
  section.hero {
    & .cta {
      margin-left: 1.75rem;
    }
  }
}

@media (width <= 320px) {
  @keyframes slideIn {
    50% {
      transform: translateX(-5px);
    }

    100% {
      transform: translateX(0);
    }
  }

  section.hero {
    & h1 {
      width: 101%;
    }

    & .cta{
      margin-left: 0;
    }

    & > div:nth-child(2) {
      & img[src*="patins"] {
        width: 96%;
      }

      & img[src*="elipse"] {
        top: 3%;
        left: 3%;
        transform: translateX(200%);
        animation: slideIn 3s 200ms ease forwards;
      }

      & img[src*="stars-1"] {
        top: 25%;
        z-index: 0;
        max-width: 3.8rem;
      }

      & img[src*="stars-2"] {
        max-width: 2.8rem;
        right: 0;
        bottom: 45%;
      }
    }
  }
}